<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDMajletManagerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28DF33E01ED816B7009C4344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28DF33F91ED816B7009C4344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28DF34041ED816B7009C4344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
